.add-form-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20% auto;

  mat-form-field, .datepickers-subBlock {
    width: 500px;
  }

  .datepickers-subBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .sales {
      width: 200px;
    }
  }

  .name-horsePower-block, .brand-fuel-block,
  .price-datepick-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 50px;
  }

  .btn-block {
    text-align: center;
    padding: 50px 0;
    .btn-valider {
      width: 150px;
    }
  }
}


